@page "/"

<style>
    body {
        text-align: center;
    }
</style>

<h1><strong>App Fichas de Atendimento</strong></h1>
<img style="width: 40%" src="/img/simboloPsico.png" alt="Simbolo Psicologia" />

