@page "/Removepaciente/{id}"
@using FichaAtendimento.Shared.Model
@inject HttpClient Http
@inject NavigationManager NavigationManager

<style>
    .botao{
        margin-right:20px;
    }
    .divBotoes{
         margin-top: 50px;
    }
</style>

<h3>Remover paciente</h3>
<hr />

<div class="row">
    <h4>Tem certeza que deseja remover este paciente?</h4>
</div>
<div class="row divBotoes">
    <button @onclick="@Cancel" class="botao btn btn-secondary" value="Cancel">VOLTAR</button>
    <button @onclick="@DeletePaciente" class="botao btn btn-danger" value="Delete">REMOVER</button>
</div>